.profContainer {
    text-align: center;
    background: pink;
    /* margin-left: 20%; */
}

.profContainer img {
    height: 190px;
    width: 176px;
    border-radius: 54%;
    margin-top: 4%;
}

.profContainer p {
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .profContainer img {
        margin-top: 20%;
    }
};