
.form p{
    font-weight: bold;
    text-align: center;
}

.form input{
    width: 85%;
    margin-left: 6%;
    padding: 17px;
    border-radius: 20px;
    border: 1px solid white;
}

@media only screen and (max-width: 600px) {
    .form input {
        width: 65%;
        padding: 17px;
        border-radius: 20px;
        border: 1px solid white;
        margin: 0% 0% 1% 13%;
    }
}
