.button{
	background-color: black;
	color: white;
	width: 96%;
	padding: 22px;
	border-radius: 20px;
	border: 1px solid black;
	margin: 0% 2% 1% 2%;
}

.button:hover{
	background-color: transparent;
	border: 2px solid black;
	color: black;
}

@media only screen and (max-width: 600px){
	.button{
    	width: 90%;
    	padding: 17px;
    	border-radius: 20px;
		margin: 1% 0% 2% 5%;
	}
}